
:root{
    --text-color:hsl(264.59deg 66.3% 36.08%);
    --font-family: 'open sans' ;
    --color-right:hsl(290.14deg 90.12% 84.12%);
    --color-left:hsl(257deg 93.75% 74.9%);
}/* start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

html{
    scroll-behavior: smooth;
}

body{
    /* // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 900 */
      font-family: "open sens", sans-serif;   
      width: 100%;
      height: 100vh;

     
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* extra large */
@media (min-width: 1400px){
    .container{
        width: 1370px;
    }
}
/* end global rules */
.page{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-30deg, #373bba,#7e4df7);
    padding: 10px;

    
}
.page .content{
    width: 80%;
    height: 80%;
    margin: 50px auto;
    background-image: url(2723496_Mesa\ de\ trabajo\ 1.svg);
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    padding: 16px;
}   
.page .content header{
    width: 100%;
    height: 50px;
    grid-row: 1/2;
    grid-column: 1/11;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.page .content header nav{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page .content header nav ul{
    display: flex;
    justify-content: space-between;
    width: 60%;
    list-style: none;
}
.page .content header nav ul li a,nav a{
    text-decoration: none;
    color:black;
    font-size: 12px;
    text-transform: uppercase;
    font-family: var(--font-family);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.page .content header nav ul li a:hover::after{
   content: "";
   width: 80px;
   height: 30px;
   background-image: linear-gradient(to left, var(--color-right),var(--color-left));
   position: absolute;
   z-index: -1;
   border-radius:20px ;
   -webkit-border-radius:20px ;
   -moz-border-radius:20px ;
   -ms-border-radius:20px ;
   -o-border-radius:20px ;
}

.page .content header nav a:hover {
color: white;
}
.page section{
    grid-column: 2/10;
    grid-row: 2/9;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.page section h1{
    font-size: 5em;
    font-family: var(--font-family);
    color: var(--text-color);
    margin-bottom: 0;
    font-weight: 400;
}
.page section p{
    font-size: .7em;
    font-family: var(--font-family);
    color: white;
    width:50%;
    line-height: 2;
}
.page section  input[type="submit"]{
    width: 20%;
    height: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    background-image: linear-gradient(to left, var(--color-right),var(--color-left));
    color: white;
    font-family: var(--font-family);
    text-transform: uppercase;

}
.page section .pages{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page section .pages a{
    text-decoration: none;
    font-size: 1.5em;
    font-family: var(--font-family);
}
.page section .pages a p {
    width:10px;
    height: 10px;
    background-image: linear-gradient(to left, var(--color-right),var(--color-left));
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: .5;
}
.page section .pages a p:hover{
    opacity: 1;
}